@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    73 Carmen Annex, Ozamiz City<br />
    Misamis Occidental, Philippines<br />
    <abbr title="Phone">P:</abbr>
    0910-965-2004
</address>

<address>
    <strong>Support:</strong>   <a href="margaritobalatero@gmail.com">margaritobalatero@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:margaritobalatero@gmail.com">margaritobalatero@gmail.com</a>
</address>